*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "PT Sans", sans-serif;
}

header{
    height: 75px;
    background-color: #017ff3;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.debug{
    border: 1px solid black;
}

.d-flex{
    display: flex;
}

.d-none{
    display:none;
}

.centered{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.justify-between{
    justify-content: space-between;
}

.nowrap{
    flex-wrap: nowrap;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
   width: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;
}

i {
    color: #0084fd;
    font-size: xx-large;
}

#azure-demo .col{
    background-color: #b5ddff;
    color: #506070;
}
#azure-demo h3{
    color: #0084fd
}

button{
    align-items: center;
    padding: ;
}

button .appstore-button{
    color: white;
}

@media (min-width: 768px){
    .container{
      width: 720px; }  
  
    #azure-demo .col{
      width: calc(100% / 3); }
  
    #azure-demo .col:first-child{
      width: calc(100% / 1.5);}
  
    #testimonials .card .row{
      flex-wrap: nowrap; }
  
    #testimonials .card .col:first-child{
      width: 20%;}
  
    #testimonials .card .col:last-child{
      width: 80%; }
  
    #working-with-us .col{
      width: 50%;  }
  
    #aboutus .col:first-child{
      width: 60%; }
  
    #aboutus .col:last-child{
      width: 40%; }
}

@media (min-width: 1200px){
    .d-xl-none{
      display: none; }
    
    .d-xl-block{
      display: block;}

    .container{
      width: 1140px;}
  
    #strategic .col{
      width: 50%;}
  
    #working-with-us .col{
      width: calc(100% / 3);}
  
    #aboutus .col:first-child{
      width: 70%;}
  
    #aboutus .col:last-child{
      width: 30%;}
  }