*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 75px;
    background-color: #017ff3;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.debug{
    border: 1px solid black;
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
}

.centered{
    justify-content: center;
}

.row{
    flex-direction: row;
}

.col{
    flex-direction: column;
}

.logo{
    width: 100px;
    background-color: white;
    border: 1px solid black;
}

.white-button{
    background-color: white;
    border: none;
    border-radius: 10px;
    color: black;
    padding: 5px;
}

header ul li{
   float: left;
   list-style: none;
   padding: 10px;
}

li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.container{
    width: 1140px;
}

#azure-demo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.card{
    background-color:#b5ddff ;
    width: 365px;
    height: 345px;
    margin-right: 10px;
    margin-bottom: 25px;
    border-radius: 15px;
}

.wide-card{
    width: 750px;
}

#strategic-planning{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9792e4;
}

.strategic-textbox{
    width: 400px;
    height: 220px;
}

.strategic-card{
    width: 410px;
    height: 555px;
    background-color: white;
    flex-direction: column;
}

#testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#testimonials h1{
    color: #9792e4;
}

.testimonial-card{
    width: 1140px;
    height: 280px;
    background-color: #9792e4;
    align-items: center;
    border-radius: 5%;
    margin-bottom: 30px;
}

.testimonial-card img{
    background-color: white;
    width: 200px;
    height: 200px;
    margin-left: 15px;
    margin-right: 60px;
}

.testimonial-textbox{
    max-width: 800px;
    max-height: 200px;
}

#working-with-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #9792e4;
    color: white;
}

.benefit-card{
    width: 360px;
    height: 420px;
    background-color: white;
    border-radius: 7px;
    margin-right: 10px;
}

#about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: #9792e4;
    height: 880px;
}