*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "PT Sans", sans-serif;
}

header{
    height: 75px;
    background-color: #017ff3;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.debug{
    border: 1px solid black;
}

.d-flex{
    display: flex;
}

.flex-column{
  flex-direction: column;
}

.d-none{
    display:none;
}

.centered{
    justify-content: center;
}

.align-items-center{
  align-items: center;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.justify-between{
    justify-content: space-between;
}

.nowrap{
    flex-wrap: nowrap;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
   width: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;
}

i {
    color: #0084fd;
    font-size: xx-large;
}

#azure-demo .col{
    background-color: #b5ddff;
    color: #506070;
}
#azure-demo h3{
    color: #0084fd
}

button{
  text-align: center;
}

.appstore-button{
    color: white;
    padding: 0 15px 0;
    background-color: #017ff3;
    border-radius: 15px;
    border: none;
}

.appstore-button i{
  color: white;
}

.arrow-button{
  background-color:#9792e4;
  border-radius: 50%;
  border: none;
  padding: 10px;
}

.arrow-button i{
  color: black;
}

.more-button{
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  background-color: #9792e4;
  border-radius: 20%;
  border: none;
  font-size: xx-small;
}

.linkedin-button{
  background-color: #9792e4;
  color: white;
  border-radius: 15px;
  border: none;
  padding: 0 10px 0;
  margin: auto;
}

.get-started-button{
  background-color: white;
  color: #9792e4;
  border-radius: 15px;
  border: none;
  padding: 0 20px 0;
  margin: auto;
}

button i{
  font-size: small;
}

#strategic-planning{
  background-color: #9792e4;
  color: white;
}

#strategic-planning .col:last-child{
  background-color: white;
  border-radius: 20px;
  color: black;
}

#testimonials h1{
  color: #9792e4;
}

#testimonials .card{
  background-color: #9792e4;
  border-radius: 7.5%;
  margin-bottom: 30px;
}

#testimonials img{
  max-width: 150px;
  max-height: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit:cover;
  margin-left: 15px;
}

#testimonials p{
  padding-bottom: 15px;
  padding-top: 15px
}

.card{
  color: white;
}

#working-with-us{
  background-color: #9792e4;
}

#working-with-us .col{
  background-color: white;
  border-radius: 15%;
  padding: 15px;
}

#working-with-us h2{
  color: white;
  padding-bottom: 10px;
}

#working-with-us h1{
  color: #9792e4;
  padding-bottom: 10px;
  font-size: xx-large;
}

#working-with-us h4{
  color: #9792e4;
  padding-bottom: 10px;
}

#working-with-us p{
  color: black;
  padding-bottom: 10px;
  font-size: x-small;
}

#about-us h1{
  color: #9792e4;
  font-size: xx-large;
}

#about-us img{
  max-width: 150px;
  max-height: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit:cover;
  margin-left: 15px;
}
#about-us h3{
  color: #9792e4;
  padding: 0 25px 0;
}

#get-started{
  color: white;
  background-color: #9792e4;
}

#get-started h1{
  color: #f8be5e;
}
@media (min-width: 768px){
    .container{
      width: 720px; }  
  
    #azure-demo .col{
      width: calc(100% / 3); }
  
    #azure-demo .col:first-child{
      width: calc(100% / 1.5);
      max-width: calc(100% / 1.5);}
  
    #testimonials .card .row{
      flex-wrap: nowrap; }
  
    #testimonials .card .col:first-child{
      width: 20%;}
  
    #testimonials .card .col:last-child{
      width: 80%; }
  
    #working-with-us .col{
      width: 50%;  }
  
    #about-us .col:first-child{
      width: 60%; }
  
    #about-us .col:last-child{
      width: 40%; }
}

@media (min-width: 1200px){
    .d-xl-none{
      display: none; }
    
    .d-xl-block{
      display: block;}

    .container{
      width: 1140px;}
  
    #strategic .col{
      width: 50%;}
  
    #working-with-us .col{
      width: calc(100% / 3);}
  
    #about-us .col:first-child{
      width: 70%;}
  
    #about-us .col:last-child{
      width: 30%;}
  }